.navbar {
  /* box-shadow: 0px 5px 9px rgba(128, 128, 128, 0.46); */
  background-color: rgba(255, 255, 255, 0) !important;
  margin: 0;
  padding: 10px;
}

.myImageLogo {
  width: 70px;
  border-radius: 50%;
}

/* .bg-body-tertiary {
  background-color: rgba(255, 255, 255, 0.249) !important;
} */

.offcanvas-title{
  font-size: 1.5rem;
}

.offcanvas{
  width: 60vw !important;
}

.offcanvas-header{
  border-radius: 50%;
}

.offcanvas-body{
  background: transparent;
}

