.skillSection {
  width: 100vw;
  height: 100vh;
  margin: 0;
  color: black;
  background-color: #222831;
}

.skillSection h1 {
  color: rgb(255, 255, 255);
  font-size: 5rem;
  text-align: center;
}
.skillSection ul {
  list-style: none;
  padding: 60px;
}


@keyframes skillSetAnimation {
  from {
    opacity: 0;
    scale: 0.5;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateX(0px);
  }
}

.skillSection span {
  margin-left: 30px;
  color: white;
  font-size: 30px;
}
.skillSection img {
  margin: 30px;
  width: 50px;
  border-radius: 0;
  animation: skillSetAnimation 2s ease-out forwards;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}
@media (max-width: 576px) {
  .skillSection ul{
    padding: 0;
  }
  .skillSection ul li{
    width: 25px;
  }
  .skillSection img { 
    width: 25px;
  }
  .skillSection span {
    font-size: 20px;
    margin: 0;
  }
}